.cameras {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.cameras__row {
    display: flex;
}

.video {
    width: 100%;
    height: 300px;
    object-fit: cover;

}
.video-container {
    width: 50%;
    overflow: hidden;
    transition: transform ease-in-out .2s;

    position: relative;
}
.video-container__return {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    display: none;
}
.video-full {
    transform: scale(2);
    z-index: 1;
}
