.cameras {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.cameras__row {
    display: flex;
}

.video {
    width:  100%;
    height: 300px;
    object-fit: cover;
}
.video-container {
    width: 50%;

    position: relative;

    overflow: hidden;
    transition: transform ease-in-out .2s;

    background: #ffffff;
}
.video-container__controls {
    display:        none;
    flex-direction: column;

    position: absolute;
    top:      10px;
    left:     10px;

    z-index: 2;

    font-size:     10px;
    background:    rgba(255,255,255,0.5);
    padding:       7px;
    border-radius: 10px;
}
.video-full {
    transform: scale(2);
    z-index:   1;
}

.video-full .video-container__controls,
.video-full .video-container__volume {
    display: flex;
}
/* audio */

.video-container__volume {
    display: none;

    width:  300px;
    height: 20px;

    position: absolute;
    bottom:   0px;
    left:     0px;

    z-index: 3;

    background: black;

    transform-origin: left;
}
