/* reset */

html,
body {
    margin:  0;
    padding: 0;
}

/* Header Styles */

.header {
    display:     flex;
    align-items: center;

    background-color: #ffffff;

    font-family: Arial, sans-serif;

    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 30px;

    overflow: hidden;
}

.header__logo {
    width:   108px;
    padding: 32px 40px 33px 40px;
}

.header__list {
    display: none;

    width: 16px;
    min-width: 16px;
    height: 13px;
    min-height: 13px;
}

.header__item {
    font-size:   16px;
    font-weight: 600;
    line-height: 20px;

    color:   #333333;
    opacity: 0.6;

    cursor:     pointer;
    transition: all ease-in-out .2s;
}
.header__item:not(:last-child) {
    padding-right: 28px;
}
.header__item:hover {
    opacity: 1;
}

/* Section Styles */

.section {
    font-family: Arial, sans-serif;
    max-width: 1066px;
    margin: auto;
}

.title {
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    padding: 34px 0px 32px;
}


.list {
    display:               grid;
    grid-template-columns: repeat(auto-fill, 161px);
    grid-auto-rows:        auto;
    grid-gap:              20px;
    grid-auto-flow:        dense;
}


/* card styles */

.card {
    display:         flex;
    flex-direction:  column;
    justify-content: space-evenly;

    position: relative;

    background-color: #FAFAFA;
    border-radius:    20px;

    padding: 20px;

    color:     #333333;
    font-size: 20px;

    grid-row: span 1;
}
.card:hover {
    background-color: #F3F3F3;
    box-shadow:       0 2px 6px 0 rgba(197,186,186,0.50);
    transition:       background-color ease-in-out .2s;
}

.card__close,
.card__action {
    position: absolute;
    right:    25px;

    opacity: 0;
}
.card__close  img,
.card__action img {
    width:  17px;
    height: 17px;
}
.card__close {
    top: 25px;
}
.card__action {
    bottom: 25px;

    background:    #F3F3F3;
    box-shadow:    0px 0px 5px 15px #F3F3F3;
    border-radius: 17px;
}

.card:hover .card__close,
.card:hover .card__action {
    opacity: 1;

    transition: opacity ease-in-out .2s;
}

.card__size_s {
    grid-column: span 2;
}
.card__size_m {
    grid-column: span 3;
}
.card__size_l {
    font-size: 24px;

    grid-column: span 4;
    grid-row:    span 3;
}

.card__event-title,
.card__event-info {
    display: flex;
}
.card__size_s .card__event-info {
    flex-direction: column;
}

.card__size_s .card__source {
    padding-bottom: 20px;
}

.card__event-info {
    justify-content: space-between;
    font-size:       18px;
}
.card__event-title {
    align-items: center;
}

.card__title {
    font-weight: bold;
    font-size: 24px;
}

.card__description {
    color: #000000;
}

.card__data img {
    width: 100%;
    border-radius: 20px;
}

.card__event-info,
.card__description,
.card__data {
    padding-top: 16px;
}

.card__camera-controls {
    display:         flex;
    justify-content: space-between;
    padding:         0 20px 16px;

    font-size: 12px;
}

/* critical card type styles */

.card__type_critical {
    background-color: #DB5341;
    border-radius: 20px;
}
.card:hover.card__type_critical {
    background-color: #DB5341;
}
.card__type_critical .card__header {
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    padding-bottom:  20px;

    color: #FFF;
}
.card__type_critical .card__content {
    margin:           0px -20px -20px;
    border-radius:    20px;
    background-color: #FAFAFA;
}

.card__type_critical .card__description {
    padding: 20px;
}
.card:hover.card__type_critical > .card__content {
    transition:       background-color ease-in-out .2s;
    background-color: #F3F3F3;
}

.card__type_critical .card__data img {
    width: calc(100% - 40px);
    margin: 20px;
}


/* icons */

.card__icon {
    display: flex;

    min-width:  48px;
    min-height: 48px;
    max-width:  48px;
    max-height: 48px;

    padding-right: 18px;
}
.card__icon img {
    width: 100%;
}

/* buttons styles */

.card__buttons {
    display: flex;
}
.card__button {
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: center;

    width:  132px;
    height: 54px;

    margin-top: 30px;

    border-radius: 8px;

    color:       #000000;
    font-size:   20px;
    font-weight: bold;
}
.card__button:not(:last-child) {
    margin-right: 18px;
}
.card__button-bright {
    background-color: #FFD93E;
}
.card__button-grey {
    background-color: #E5E5E5;
}

/* music styles */

.music__track,
.music__controls,
.music__track-control,
.music__volume-control,
.music__track-meta {
    display: flex;
}
.music__track-meta,
.music__volume-control {
    flex-grow: 1;
}
.music__volume-control {
    align-items: center;
}
.music__track-meta {
    flex-direction:  column;
    justify-content: space-between;
}

.music__controls {
    margin-top: 20px;
}

.music__cover,
.music__prev,
.music__next {
    max-width:  53px;
    max-height: 53px;
}

.music__next {
    transform: rotate(180deg);
    margin-left: 26px;
}

.music__track-name {
    font-size: 20px;
    color: #000000;
    margin: 0 15px;
}

.music__track-time,
.music__track-volume {
    font-size: 14px;
    color: #A1A1A1;
    opacity: 84%;
}

.music img {
    border-radius: 10px;
}

.progress {
    position: relative;
    width: 100%;
    height: 20px;
    margin: 0 15px;
}

.progress__line {
    width: 100%;
    height: 1px;
    background-color: #979797;
    position: absolute;
    top: 10px;
}

.progress__control {
    width: 12px;
    height: 20px;
    border-radius: 4.5px;
    background-color: #D8D8D8;
    z-index: 1;
    position: absolute;
    left: 40px;
}

.music__volume-control .progress__control {
    width:  16px;
    height: 16px;
    background:    #605757;
    border-radius: 26px;

    top: 2px;
    left: 80%;
}
.music__volume-control .progress__line  {
    background-color: rgba(216,216,216,0.30);
    height: 4px;
    top: 8px;
}

/* climate styles */

.climate {
    display: flex;

    font-size: 18px;
    color:     #000000;
}
.climate__temperature {
    margin-right: 52px;
}
.climate__temperature-value,
.climate__humidity-value {
    font-weight: 800;
}

/* footer styles */

.footer {
    width: 100%;

    display:         flex;
    align-items:     center;
    justify-content: space-between;

    font-family:    Arial, sans-serif;
    font-size:      12px;
    letter-spacing: 0.01px;
    color:          #858585;

    border-top: 1px solid #F0F0F0;
    margin-top: 80px;
}
.footer__item {
    padding: 12px;
}
.footer__copyright {
    padding: 22px 36px 27px;
}
.footer > .menu {
    padding: 10px 40px 15px;
}

.menu {
    display: flex;
}


/* Media Queries */

@media screen and (max-width: 1146px) {
    .section {
        padding: 0 40px;
    }
    .list {
        grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
    }
}

@media screen and (max-width: 718px) {
    .section {
        padding: 0 20px 20px;
    }

    .header {
        z-index: 2;
        border: none;
        margin-bottom: 0;
    }
    .header__list {
        display: block;

        position: absolute;
        right: 20px;

        cursor: pointer;
    }
    .header .menu {
        display: none;
    }
    .header__logo {
        width:   110px;
        height:  37px;

        padding: 12px 20px 13px;
    }

    .title {
        font-size:   24px;
        font-weight: bold;
        padding:     0px 0px 19px;
    }

    .list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
    }
    .card__size_s,
    .card__size_m,
    .card__size_l {
        grid-column: span 1;
    }

    .card__size_s .card__title,
    .card__size_m .card__title,
    .card__size_l .card__title {
        font-size: 14px;
    }

    .card__size_s .card__content,
    .card__size_m .card__content,
    .card__size_l .card__content {
        font-size: 18px;
    }

    .card__size_s .card__event-info,
    .card__size_m .card__event-info,
    .card__size_l .card__event-info {
        font-size: 12px;
        flex-direction: row;
    }

    .card__icon {
        min-width:  35px;
        min-height: 35px;
        max-width:  35px;
        max-height: 35px;

        padding-right:  18px;
    }

    .card__event-info,
    .card__description,
    .card__data {
        padding-top: 16px;
    }

    .card__type_critical .card__description {
        padding: 16px;
    }

    .card__type_critical .card__data img {
        width: calc(100% - 32px);
        margin: 16px;
    }

    .card__buttons {
        justify-content: space-between;
    }
    .card__button {
        width:  132px;
        height: 44px;
    }

    .music__next {
        margin-left: 20px;
    }

    .footer {
        flex-direction:  column;
    }

    .footer > .menu {
        flex-direction: column;
        align-items:    center;
    }

    .climate {
        justify-content: space-between;
    }
}

/*@media screen and ()*/

